<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Testng Basics" preserve-order="true" parallel="false" >

 <test name="Login Test">
		<classes>
		  	    <class name="authentication.tests.TC_1_Successful_authentication" />
		 </classes>
  </test>
  </suite> <!-- Suite -->  